#root {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1em;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #808080;
  border-radius: 0.5em;
}

.csvInput input{
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
}

.csvInput input:hover{
  background-color: #343434;
}

.csvInput :hover{
  cursor:pointer ;
}


button {
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  cursor: pointer;
}

button[disabled]{
  pointer-events: none;
}


.inputZone{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

.links a{
  color: #ff7b00;
  transition: all 0.25s ease;
}

.links a:hover {
  color: #ffb570;
}
